apiVersion: apps/v1
kind: Deployment      # "Deployment"
metadata:
  name: mongo-deployment  
  labels:
    app: mongo
spec:
  replicas: 1     # how many Pods you want to create?
  selector:
    matchLabels:      #identify a set of resouces -> match all Pods with label "app:mongo"
      app: mongo      # SHOULD BE MATCH
  template:     # configuration for Pod -> Deployment manages Pod -> has its own "metadata" and "spec" section
    metadata:
      labels:
        app: mongo
    spec:
      containers:         # which image?, which port?, one pod can run multiple containers but usually run one container per pod
      - name: mongodb     # container name
        image: mongo:5.0  # docker image
        ports:
        - containerPort: 27017  # listen port (SAME)
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          # value: myuser   # can set directly
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-user
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-password
      # -> create Pods with "mongo:5.0" image  
---   # separate parts
apiVersion: v1
kind: Service     # "Service"
metadata:
  name: mongo-service   # an arbitrary name
spec:
  selector:   # select pods to forward the request to -> connecting Service to Pods
    app: mongo  # SHOULD BE MATCH
  ports:
    - protocol:
      port: 27017             # service port
      targetPort: 27017       # containerPort of Deployment (SAME)

# Label
## you can give any K8s component a label
## labels are key/value pairs that are attached to K8s resources
## identifier, which should be meaningful and relvant to users
## labels do not provide uniqueness -> ex: all pod replicas will have the same label
## connecting Deployment to all Pod replicas