# kafka-kraft.yaml

# Cấu hình Docker Image
image:
  tag: 3.6.0 

# BẬT CHẾ ĐỘ KRAFT (Loại bỏ Zookeeper)
kraft:
  enabled: true
  processRoles: controller,broker
  controllerQuorumVoters: 0@my-kafka-controller-0.my-kafka-controller-headless.default.svc.cluster.local:9093

# Tắt Zookeeper hoàn toàn
zookeeper:
  enabled: false

# Cấu hình số lượng Node (Replicas)
# Để tiết kiệm tài nguyên trên máy cá nhân, ta dùng 1 node.
# Nếu muốn mô phỏng cluster thực tế, hãy tăng lên 3 (cần >6GB RAM cho Docker)
controller:
  replicaCount: 1
  automountServiceAccountToken: false
broker:
  replicaCount: 1
  automountServiceAccountToken: false

# Cấu hình Listener để truy cập
listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT

# Cho phép xóa dữ liệu khi gỡ cài đặt (Dùng cho môi trường Lab)
persistence:
  enabled: false # Đặt là true nếu muốn giữ dữ liệu lâu dài