apiVersion: v1
kind: Service
metadata:
  name: cassandra
spec:
  ports:
  - port: 9042
    name: cql       # Port chính để client gửi câu lệnh SQL
  clusterIP: None   # Headless Service
  selector:
    app: cassandra
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: cassandra-client
#   labels:
#     app: cassandra
# spec:
#   type: ClusterIP
#   ports:
#     - port: 9042
#       targetPort: 9042
#       name: cql
#   selector:
#     app: cassandra
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cassandra
spec:
  serviceName: cassandra
  replicas: 3   # Tối thiểu cho HA là 3 node
  selector:
    matchLabels:
      app: cassandra
  template:
    metadata:
      labels:
        app: cassandra
    spec:
      containers:
      - name: cassandra
        image: cassandra:4.1
        ports:
        - containerPort: 7000
          name: intra-node    # Port để các node Cassandra nói chuyện với nhau (Gossip)
        # - containerPort: 7001
        #   name: tls-intra-node
        # - containerPort: 7199
        #   name: jmx
        - containerPort: 9042
          name: cql
        # resources:
        #   requests:
        #     memory: 1Gi
        #     cpu: "500m"
        #   limits:
        #     memory: 1.5Gi
        # Thêm Probe để biết khi nào Database sẵn sàng nhận kết nối
        readinessProbe:
          exec:
            # Chạy lệnh cqlsh để xem cluster đã sẵn sàng chưa
            command: ["/bin/bash", "-c", "cqlsh -e 'DESCRIBE CLUSTER'"]
          initialDelaySeconds: 60 # Chờ 60s mới bắt đầu check (vì Java boot lâu)
          timeoutSeconds: 10      # Nếu check quá 10s không phản hồi thì coi là fail

        env:
          - name: MAX_HEAP_SIZE
            value: "512M"
          - name: HEAP_NEWSIZE
            value: "128M"
          - name: CASSANDRA_SEEDS
            # Chỉ định node đầu tiên làm Seed để node thứ 2 join vào
            value: "cassandra-0.cassandra.default.svc.cluster.local"
          - name: CASSANDRA_CLUSTER_NAME
            value: "K8sCluster"
          - name: CASSANDRA_DC
            value: "DC1"
          - name: CASSANDRA_ENDPOINT_SNITCH
            value: "GossipingPropertyFileSnitch"  # Cơ chế tìm node trong mạng
        volumeMounts:
        - name: data
          mountPath: /var/lib/cassandra
      volumes:
      - name: data
        emptyDir: {}  # Ổ tạm
  # volumeClaimTemplates:
  # - metadata:
  #     name: data
  #   spec:
  #     accessModes: ["ReadWriteOnce"]
  #     resources:
  #       requests:
  #         storage: 1Gi
