apiVersion: batch/v1
kind: CronJob
metadata:
  name: spark-periodic-job
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: Forbid

  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1

  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: spark-client
              image: spark-client:v1
              imagePullPolicy: Never # Bắt buộc với Kind
              command: ["/bin/bash", "-c"]
              args:
                - |
                  # 1. Lấy IP của chính Pod này
                  MY_POD_IP=$(hostname -i)
                  echo ">>> Driver IP is: $MY_POD_IP"

                  # 2. Chạy Spark Submit với cấu hình mạng cụ thể
                  /opt/spark/bin/spark-submit \
                    --master spark://spark-master:7077 \
                    --deploy-mode client \
                    --executor-memory 512m \
                    --executor-cores 1 \
                    --total-executor-cores 2 \
                    \
                    --conf spark.driver.host=$MY_POD_IP \
                    --conf spark.driver.bindAddress=0.0.0.0 \
                    --conf spark.driver.port=30000 \
                    --conf spark.blockManager.port=30001 \
                    \
                    /opt/spark/job.py
          restartPolicy: OnFailure
