apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: kafka-pool
  labels:
    strimzi.io/cluster: my-cluster
spec:
  replicas: 1
  roles:
    - controller
    - broker
  storage:
    # type: ephemeral   # Dùng ổ tạm để test (mất dữ liệu khi restart pod), chạy thật -> sử dụng 'persistent-claim'
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 3Gi
        deleteClaim: false
---
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: my-cluster
  annotations:
    strimzi.io/node-pools: enable
    strimzi.io/kraft: enable # Bật chế độ KRaft (Modern Kafka)
spec:
  kafka:
    version: 4.0.0
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      # --- Cấu hình cho single-node (tối ưu tài nguyên) ---
      offsets.topic.replication.factor: 1 # Single node setup
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1 # Mọi topic chỉ có 1 bản sao
      min.insync.replicas: 1
  entityOperator:
    topicOperator: {}
    userOperator: {}
