apiVersion: v1
kind: Service
metadata:
  name: minio
spec:
  # type: ClusterIP
  ports:
    - port: 9000
      name: api # Port để code (Spark/Python) kết nối
      targetPort: 9000
    - port: 9001
      name: console # Port để vào Web UI quản trị
      targetPort: 9001
  clusterIP: None # Headless Service: Để các Pod tìm thấy nhau qua DNS (minio-0, minio-1...)
  selector:
    app: minio
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
spec:
  serviceName: minio
  replicas: 4 # MinIO Distributed yêu cầu tối thiểu 4 ổ đĩa (ở đây là 4 pod) để chạy Erasure Coding
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: minio/minio:RELEASE.2023-09-30T07-02-29Z
          command:
            - /bin/sh
            - -c
            - |
              minio server http://minio-{0...3}.minio.default.svc.cluster.local/data --console-address ":9001"
          env:
            - name: MINIO_ROOT_USER
              value: "minioadmin"
            - name: MINIO_ROOT_PASSWORD
              value: "minioadmin"
          volumeMounts:
            - name: data
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
